@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
  margin-top:75px;
  width: 100%;
  height: 100%;
  background-color:#c4e4ff;
  overflow-x: hidden;
}

.banner-content{
	margin-top:75px;
}

footer{
background-color:#fff;
}

nav, .banner-area div{
  z-index:5;
}

h1, h2, h4, .nav-item a, .btxt{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.reviews h1{
  color:#fff;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.footer-links li{
  display: inline-block;
  list-style: none;
  padding:0.5em;
}

.footer-links li a{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-decoration: none;
  color:#000;
}
.footer-contact li{
  display: inline-block;
  list-style: none;
  padding:0.5em;
}
.footer-links{
  padding-inline-start:0;
}
.footer-contact{
  padding-inline-start:0;
}
.banner{
  background-color:#0069ab;
  color:#fff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-area{
  padding-top:5em;
  padding-bottom:5em;
}
.spacer{
  height:5vh;
}
.bannerimg, .section1-img, .section2-img, .section3-img{
  width:100%;
  animation-delay:1s;
}
.bannerimg-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}
.page-entries > .container{
	margin-top:75px;
}
.entry-text{
color:#fff;
background-color:#011d29;
position:relative;
z-index:-1;
display: flex;
align-items:center;
justify-content:center;
padding:3em;
border-radius:1em 1em 1em 1em;
}
.entry-text span::before{
  content:"\A";
  white-space: pre;
}
.entry-text-cg{
  color:#fff;
  background-color:#011d29;
  position:relative;
  z-index:0;
  display: flex;
  align-items:center;
  justify-content:center;
  padding:3em;
  border-radius:1em 1em 1em 1em;
}
.entry-text-cg span::before{
  content:"\A";
  white-space: pre;
}
.entry-img{
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:#fff;
  border-radius:1em 1em 1em 1em;
  box-shadow:0.1em 0.1em 1em 0.01em #000;
  padding:1em;
}
.section1-img, .section3-img{
  position:relative;
  z-index:1;
  width:100%;
}
.section2-img{
  position:relative;
  z-index:1;
  width:100%;
}

.gray-border{
  background-color:#f6f6f6;
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
}

.reviews{
  display:block;
  background-color:#0069ab;
  padding-top:5em;
  padding-bottom: 5em;
}
.review-item{
  position: relative;
  display:flex;
  align-items:center;
  z-index:5;
  overflow: none;
}
.review-avatar{
  display:inline;
  float:left;
  position:relative;
  z-index:25;
  margin-top:-15em;
}
.avatar-rear{
  margin-left:-9em;
  margin-top:-12em;
  z-index:1;
}
.review-name, .review-title, .review-content{
  display: block;
}
.review-name{
  font-weight:bold;
}
.review-title{
  font-size:10pt;
}

.review-content{
  font-size:10pt;
  padding-top: 0.5em;
}
.review-body{
  background-color:aliceblue;
  margin-left: -3em;
  padding:3.5em;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0.1em 0.1em 0.5em 0.05em #000;
}
.fadein{
  opacity:1;
  animation: fadeIn 5s ease;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.ornament-banner-left{
  position:absolute;
  left:0;
  top:50vh;
  z-index:1;
}

.ornament-banner-right{
  position:absolute;
  top:50vh;
  right:0;
  z-index:1;
}
.page-footer{
  padding:1em;
}

@media (min-width:600px){
  .page-entries{
  padding-top:5em;
  padding-bottom: 5em;
	
  }
  .review-bg img{
    position:absolute;
    right:0;
    width:35em;
    margin-top:-25em;
    z-index:1;
  }
}

@media (min-width:768px){
  .review-bg img{
    position:absolute;
    right:0;
    width:35em;
    margin-top:-25em;
    z-index:1;
  }
  .page-entries{
  padding-top:5em;
  padding-bottom: 5em;
  }
}

@media (min-width:992px){
  .page-entries{
  padding-top:5em;
  padding-bottom: 5em;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .div-down{
    margin-top: 2em;
  }
  .div-up{
    margin-bottom:2em;
  }
  .clip-left{
    margin-left:-2em;
  }
  .clip-right{
    margin-right:-2em;
  }
  .nav-link{
    font-size:7.5pt;
  }
  .review-bg img{
    position:absolute;
    right:0;
    max-width:45em;
    margin-top:-25em;
    z-index:1;
  }
}

@media (min-width:1070px){
  .page-entries{
  padding-top:5em;
  padding-bottom: 5em;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .nav-link{
    font-size:9pt;
  }
}

@media (min-width:1280px){
  .page-entries{
  padding-top:5em;
  padding-bottom: 5em;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .nav-link{
    font-size:11pt;
  }
}

.review-border img{
  position:absolute;
  left:0;
  margin-top:-9.9em;
  width:15em;
  z-index:0;
}

.green-dot{
  color:cyan;
  font-size:32pt;
}


.modal-subtitle{
  font-family:'Montserrat', sans-serif;
  font-weight:600;
  color:#0069ab;
}

.faq-comment, .faq-email, .faq-name{
width:100%;
margin-top:1em;
margin-bottom:1em;
}
.modal-submit{
  position:relative;
  float:right;
  margin-top:1em;
  margin-bottom: 1em;
}

.faq-close{
  font-size:1em;
  margin-top:1em;
  margin-bottom:1em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color:#dddddd;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666; 
}