<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- title>{{ page.title }}</title -->
			<title>tkrn | Animator/Graphic Designer</title>
			<link rel="shortcut icon" type="image/png" href="{{ "../favicon.ico"  | absolute_url }}">
			<!-- link to main stylesheet -->
			<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
			<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/portfolio">Portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:arnz.lee16@gmail.com">email</a></li>
	        		<li><a href="https://github.com/znraznra">github.com/znraznra</a></li>
				</ul>
			</footer>
		</body>
	</html>
